@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }

  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }

  .coso {
    padding-top: 275px !important;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
  }
}

@page {
  margin: 3mm;
}
